*{
margin:0;
padding:0;
}
nav.r-nav{
 background:darkred;
 padding:10px 0;
 transition:.5s all;
}

nav .navbar-brand img{
 height:70px;
 width:70px;
 transition:.5s all;
}

nav .navbar-nav li a{
 color:white !important;
 font-size:16px;
 letterspacing:0.05rem;
 font-weight:600;
}

nav .navbar-nav li a:hover{
 color:grey;
}
 
nav .navbar-nav li{
 margin-left:15px;
}

nav.r-nav.stickyadd{
 background:#fff !important;
 padding:15px 0;
 box-shadow:0 1px 8px 3px rgba(0,0,0,0.05);
 transition:.5s all ease-in-out;
}

#abbg{
 
 background-repeat:no-repeat;
 background-size:cover;
 height:50rem;
}

#abbg>img{
 width:100%;
 position:absolute;
 left:0;
 right:0;
 opacity:0.6;
 margin-top:50px;

}

p{
 text-align:center;
 color:grey;
 font-size:20px;
}
h2{
 text-align:center;
 
}

.underline{
 border-bottom:5px solid #151B8D;
}

.col-sm-6 h3{
 text-align:center;
}

.col-sm-6 h3:hover{
 color:red;
}

.col-sm-6 i{
 text-align:center;
 font-size:30px;
 margin-left:250px;
}




footer{
 background-color:darkred;
 color:white;
 padding:0 0 20px 0;
}
footer li {
 list-style:none;
 
}
footer li a {
 
 color:white;
}
footer button{
 background-color:black;
 color:white;
}

@media only screen and (max-width:768px){
 .col-sm-6 i{
 
 margin-left:200px;
}
 
 #abbg{
   height:25rem;
}
}

@media only screen and (max-width:998px){
 .col-sm-6 i{
 
 margin-left:200px;
}
}
 